body {
  background-color: #efeff2;
  margin: 0;
  color: #19191c;
  font: 400 18px/28px Inter, sans-serif;
}

.container {
  width: 1440px;
  margin: 0 auto;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 36px 0 0;
}

.header__box {
  display: flex;
  align-items: center;
  gap: 68px;
}

.nav__list {
  display: flex;
  list-style: none;
  gap: 48px;
  padding: 0;
  margin: 0;
  font-size: 18px;
  line-height: 22px;
  font-weight: 600;
}

.link {
  color: #19191c;
  text-decoration: none;
}

.btn-box {
  display: flex;
  gap: 48px;
  align-items: center;
}

.header__link {
  text-decoration: none;
  color: #19191c;
  font-size: 18px;
  line-height: 22px;
  font-weight: 600;
}

.header__btn {
  padding: 12px 37px;
  background: #19191c;
  text-decoration: none;
  color: #efeff2;
  font-size: 18px;
  line-height: 22px;
  font-weight: 700;
}

.header__btn:hover {
  background: #313135;
}

.logo {
  font-weight: 800;
  font-size: 24px;
  line-height: 30px;
  display: flex;
  gap: 14px;
  color: #19191c;
  text-decoration: none;
  align-items: center;
}

.offer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-bottom: 230px;
  padding-top: 186px;
  background-image: url(../img/Ellipse_20.png), url(../img/man.png),
    url(../img/rectangle.png), url(../img/Ellipse_21.png),
    url(../img/Ellipse_22.png);
  background-position: -80px 0, 100% 100%, 86% 100%, 800px 80px, 600px 350px;
  background-repeat: no-repeat, no-repeat;
}

.offer__holder {
  width: 648px;
  height: 596px;
}

.offer__title {
  font-size: 58px;
  font-weight: 700;
  line-height: 70px;
  margin: 0 0 18px;
}

.offer__desription {
  font-size: 18px;
  line-height: 28px;
  margin: 0 0 62px;
  font-weight: 400;
}

.offer__desription-link {
  color: #504dee;
  text-decoration: none;
}

.button {
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  color: #fbfbfc;
  padding: 16px 37px;
  background: #504dee;
  border: none;
}

.button:hover {
  background: #5a58e3;
}

.offer__sale {
  font-weight: 700;
  font-size: 58px;
  line-height: 70px;
  margin: 110px 0 0;
}

.offer__time {
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  margin: 8px 0 0;
}

.offer__list {
  list-style: none;
  padding: 0;
  margin: 0;
  flex-grow: 1;
  position: relative;
}

.offer__item {
  position: absolute;
  border: 2px solid #19191c;
  padding: 16px 36px;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
}

.offer__marketer {
  top: 20px;
  right: 70px;
}

.offer__illustrator {
  top: -90px;
  right: 325px;
}

.offer__animator {
  top: 0;
  left: 50px;
}

.offer__programmer {
  top: 200px;
  left: -100px;
}

.offer__designer {
  top: 360px;
  left: -200px;
}

.offer__photographer {
  top: 525px;
  left: -125px;
}

.learn {
  background: #19191c;
}

.learn__container {
  display: flex;
  justify-content: space-between;
  padding-bottom: 159px;
  padding-top: 168px;
}

.learn__title {
  color: #fbfbfc;
  font-weight: 700;
  font-size: 58px;
  line-height: 70px;
  margin-bottom: 28px;
  margin-top: 0;
}

.learn__text {
  flex-direction: column;
  width: 588px;
}

.learn__desription {
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: #efeff2;
  margin: 12px auto;
}

.learn__counters {
  display: flex;
  gap: 86px;
}

.learn__counter-item {
  width: 178px;
  height: 119px;
  border-bottom: 4px solid #fbfbfc;
}

.learn__counter-number {
  color: #fbfbfc;
  font-weight: 700;
  font-size: 58px;
  line-height: 70px;
  margin: 0;
}

.learn__counter-descript {
  color: #efeff2;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  margin: 0;
}

.discover {
  margin: 168px auto;
}

.discover__title {
  width: 594px;
  font-weight: 700;
  font-size: 58px;
  line-height: 70px;
  color: #19191c;
  margin: 45px 0;
}

.discover__menu {
  display: flex;
  gap: 361px;
}

.discover__list {
  display: flex;
  list-style: none;
  gap: 48px;
  margin: 0;
  padding: 0;
  align-items: center;
}

.discover__button-highlighted {
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  border: none;
  border-bottom: 4px solid #19191c;
  display: flex;
  align-items: center;
  background: none;
  padding: 0 0 6px;
}

.discover__button {
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  border: none;
  display: flex;
  align-items: center;
  background: none;
}

.discover__more-info {
  display: flex;
  gap: 18px;
  text-decoration: none;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  align-items: center;
  color: #19191c;
}

.discover__cards {
  margin-top: 65px;
  display: flex;
  gap: 20px;
}

.discover__card-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 26px;
  color: #19191c;
  margin: 26px 0 0 0;
}

.discover__card-length {
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: #6d6d77;
  margin: 11px 0 0 0;
}

.find-program {
  background: #deefe4;
  width: auto;
  height: 596px;
}

.find-program__container {
  display: flex;
}

.find-program__title {
  font-weight: 700;
  font-size: 58px;
  line-height: 70px;
  color: #19191c;
  width: 801px;
  margin: 0;
  padding: 168px 0 28px;
}

.find-program__desription {
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: #19191c;
  width: 278px;
  margin: 0;
}

.find-program__form {
  display: flex;
  gap: 48px;
  flex-direction: column;
  padding: 190px 0;
}

.input-form {
  border: none;
  border-bottom: 2px solid #19191c;
  width: 710px;
  background: #deefe4;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: #19191c;
}

.find-program__button {
  padding: 16px 36px;
  align-self: flex-start;
  margin-top: 20px;
  background: #19191c;
  color: #fbfbfc;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
}

.find-program__button:hover {
  background: #313135;
}

.footer {
  background: #19191c;
  justify-content: space-between;
}

.footer__container {
  display: flex;
  padding: 68px 0 0;
}

.footer__box {
  display: flex;
  flex-direction: column;
  gap: 28px;
}

.footer__logo {
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  color: #fbfbfc;
  display: flex;
  gap: 12px;
  text-decoration: none;
  align-items: center;
  padding: 0 0 15px;
}

.footer__box-item {
  color: #fbfbfc;
  text-decoration: none;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  padding: 0;
  margin: 0;
}

.sitemap__container {
  width: 1440px;
  margin: 0 auto;
  display: flex;
  gap: 200px;
  padding-left: 140px;
}

.sitemap__title {
  color: #fbfbfc;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  margin: 0 0 28px;
}

.sitemap__list {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
  margin: 0;
  padding: 0;
}

.sitemap__link {
  text-decoration: none;
  color: #efeff2;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  white-space: nowrap;
}

.copyright {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 28px;
  padding-top: 100px;
}

.copyright__link {
  text-decoration: none;
  color: #6d6d77;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
}

.copyright__text {
  color: #6d6d77;
  margin: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
}

@media (max-width: 1439px) {
  .container {
    width: auto;
    margin: 0 10px;
  }

  .offer__marketer {
    top: 250px;
    right: 10px;
  }

  .offer__illustrator {
    top: 140px;
    right: 50px;
  }

  .offer__animator {
    top: 40px;
    left: 50px;
  }

  .offer__programmer {
    top: 180px;
    left: -280px;
  }

  .offer__designer {
    top: 460px;
    left: -420px;
  }

  .offer__photographer {
    top: 625px;
    left: -425px;
  }

  .learn__container {
    display: flex;
    justify-content: space-around;
  }

  .learn__counters {
    display: flex;
    flex-direction: column;
    gap: 86px;
  }

  .discover__menu {
    gap: 100px;
  }

  .discover__list {
    gap: 18px;
  }

  .discover__cards {
    display: block;
  }

  .discover__card-item {
    padding-bottom: 20px;
    display: flex;
  }

  .discover__card-text {
    padding-left: 10px;
  }

  .find-program__title {
    width: 550px;
  }

  .input-form {
    width: 450px;
  }

  .sitemap__container {
    width: auto;
    margin: 0 auto;
    display: flex;
    gap: 50px;
    padding-left: 140px;
  }
}

button {
  cursor: pointer;
}

a:focus,
button:focus,
input:focus {
  outline: 3px solid #005fcc;
  outline-offset: 2px;
}
